#artistContainer {
    display: flex;
    flex-direction: row;
}

#artistImageContainer img {
    width: 300px;
}
#artistImageContainer {
    width: 50%;
}

.spIcon, .mbIcon {
    width: 40px;
}

#artistTextContainer {
    display: flex;
    flex-direction: row;
}