#artistContainer {
    display: flex;
    flex-direction: row;
}

#artistImageContainer img {
    width: 300px;
}
#artistImageContainer {
    width: 50%;
}

.spIcon, .mbIcon {
    width: 40px;
}

.nameContainer {
    display: flex;
    flex-direction: row;
}

.spURLContainer {
    padding: 8% 5%;
}

.mbURLContainer {
    padding: 7% 0;
}

#loadingText {
    color: grey;
}