#titleContainer {
}

#loadingText {
	color: grey;
}

.listItem {
	border: 1px solid gray;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	height: 64px;
	margin: 3px 3px;
}

.listItem:hover {
	border: 1px solid black;
	transition: 0.5s all;
}

.artistIcon img {
	margin: 2px 0 0 0;
	border-radius: 10px;
	width: 60px;
	height: 60px;
	padding-left: 5px;
}

.textContainer {
	padding: 8px 0 0 8px;
	display: flex;
	flex-direction: column;
}

.openArtist {
	flex-grow: 1;
}

.artistName {
	font-size: larger;
	font-weight: bold !important;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.artistName a {
	font-weight: bold !important;
}

.artistInfo {
	text-align: left;
	font-size: small;
	font-weight: normal;
}

.artistGenres {
	color: lightgray;
	text-align: left;
	font-size: small;
	font-weight: normal;
}

#artistList {
	border-radius: 10px;
	height: 100%;
	border: 1px solid black;
	overflow-y: auto;
	margin: 0 10px 0 10px;
}

#artistContainer {
	display: none;
	flex-direction: column;
	height: calc(100% - 90px);
}

#artistContainer ::-webkit-scrollbar {
	width: 15px;
}

#artistContainer ::-webkit-scrollbar-track {
	background: transparent;
}

#artistContainer ::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: #aaa;
}

#artistContainer ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

#body {
	height: 100%;
	overflow: hidden;
}

#contentContainer {
	height: 100%;
	/* max-height: 40%; */
	overflow: hidden;
}

#artistList a {
	text-align: left;
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

#artistList a:hover {
	text-decoration: underline;
}

#statusText {
	color: grey;
	padding: 5px;
}

.viewButton {
    margin-left: auto !important;
    height: -webkit-fill-available;
    align-content: center;
    text-align: center !important;
    width: 150px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    transition: 0.2s all;
    text-decoration: none !important;
    white-space: nowrap;
    font-weight: normal;
}

.viewButton div {
	transform: translateY(1.5px);
}

.viewButton div img {
	transform: translateY(-1px);
}

.artistMB {
    width: 16px;
    height: 20px;
    vertical-align: middle;
	margin-left: 4px;
}

.listItem {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center; /* Center the image */
}

.listItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: var(--background-image);
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    opacity: 0.15; /* Adjust opacity as needed */
    filter: blur(3px); /* Apply blur effect */
    z-index: 1;
	transition: opacity .2s linear;
}

.listItem:hover::before {
    opacity: .4;
    
}

.listItem > * {
    position: relative;
    z-index: 2;
}
