/* :root {
	--background: #f9f9f9;
	--background-secondary: #f0f0f0;
	--foreground-primary: #000000;
	--foreground-secondary: #4a4a4a;
	--foreground-tertiary: gray;
	--foreground-quaternary: lightgray;
	--scrollbar-active: #555;
	--scrollbar: #aaa;
	--nprogress-gradient: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
	--skeleton: #e0e0e0;
	--skeleton-highlight: #f0f0f0;
	--button-border: #e0e0e0;
	--button-text: #b8b8b8;
	--toolsButton: #000f52;
	--configButton: #522e00;
	--savedArtists: #00631c;

    --spotify-green: #1db954;
	--itunes-red: #FF0436;
	--tidal-black: #000000;
	--deezer-purple: #a238ff;
	--bandcamp-blue: #0cacd7;
} */

:root {
	--background: #1b1e1f;
	--background-secondary: hsl(195, 7%, 8%);
	--foreground-primary: #ffffff;
	--foreground-secondary: #d2d2d2;
	--foreground-quaternary: #bebebe;
	--scrollbar-active: #d3d3d3;
	--scrollbar: #929292;
	--nprogress-gradient: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #7f00ff, #ff00ff);
	--skeleton: #444;
	--skeleton-highlight: #666;
	--toolsButton: #5d7aff;
	--configButton: #905100;
	--savedArtists: #00a62f;
	--tidal-black: #ffffff;
}

#main {
	font-family: Arial, sans-serif;
	background: transparent;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50%;
	text-align: center;
	height: 100%;
	min-width: 500px;
}

#__next {
	height: 100%;
}

body,
html {
	margin: 0;
	height: 100%;
	background-color: var(--background);
	overflow: hidden;
}


h1 {
	text-align: center;
	color: var(--foreground-primary);
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
	font-size: 16px;
	color: #444;
}

hr {
	margin-top: 20px;
	width: 100%;
	border: 1px solid var(--foreground-secondary);
}

a {
	color: var(--foreground-secondary);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

footer embed,
footer embed {
	height: 80px;
	z-index: 0;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	margin-left: -8px;
	background: transparent
}


#err {
	color: red;
}

#loadingMsg {
	padding: 5px;
	color: grey;
}

embed,
iframe {
	background-color: transparent;
}

/* https://github.com/loadingio/css-spinner/ */
.lds-ellipsis,
.lds-ellipsis div {
	box-sizing: border-box;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 14px;
}

.lds-ellipsis div {
	position: absolute;
	top: 2px;
	width: 13.33333px;
	height: 13.33333px;
	border-radius: 50%;
	background: currentColor;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

.lds-facebook,
.lds-facebook div {
	box-sizing: border-box;
}

.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: currentColor;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0s;
}

@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}

	50%,
	100% {
		top: 24px;
		height: 32px;
	}
}

/* ko-fi widget button */
.floatingchat-container,
.floatingchat-container-mobi {
	width: -moz-fit-content !important;
	width: fit-content !important;
	background: transparent !important;
}

@media (max-width: 500px) {
	#main {
		min-width: 380px;
		width: -webkit-fill-available;
	}
	.popup-content {
		min-width: 380px !important;
		width: 95% !important;
	}
}

@media (max-width: 950px) {
	.floatingchat-container-wrap-mobi {
		bottom: 100px !important;
	}
}

@media (max-height: 600px) {

	#albumContainer,
	#artistContainer {
		height: calc(100% - 70px) !important;
	}

	footer embed {
		height: 60px;
	}
}

.subdesc {
    color: var(--foreground-primary);
}

.textwrapper {
	font-family: Arial, sans-serif;
	background: transparent;
	padding: 0;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 18px;
	width: 50%;
	text-align: center;
}


.logo {
	padding-top: 10px;
	overflow: hidden;
	width: 120px;
	height: 120px;
}

.imagewrapper {
	position: absolute;
	aspect-ratio: 1 / 1;
	width: 10%;
	height: 10%;
}

.header {
	width: 50%;
	min-width: 500px;
	margin: 0 auto;
	height: 150px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	background: transparent;
}

* ::-webkit-scrollbar {
	width: 15px;
}

* ::-webkit-scrollbar-track {
	background: transparent;
}

* ::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: var(--scrollbar);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-active);
}

#nprogress .bar {
	background: var(--nprogress-gradient, linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet)) !important;
	height: .2% !important;
}

.popup-content {
	background: none !important;
	border: none !important;
	min-width: 500px;
}

svg {
	padding-top: 1px;
	vertical-align: text-top;
}
